.header {
  padding: 60px 0;
}

.announcement {
  padding: 20px;
  background: #f0fdf4;
  border: 1px solid #4ade80;
  border-radius: 4px;
}

.bold {
  color: #15803d;
}

:global(.dark) .announcement {
  padding: 20px;
  background: #1a1b1a;
  border: 1px solid rgb(34, 197, 94);
  border-radius: 4px;
}

:global(.dark) .bold {
  color: rgb(34, 197, 94);
}
