@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot1 {
  animation: pulsate 4s infinite;
}

.dot2 {
  animation: pulsate 4s infinite 1s;
}

.dot3 {
  animation: pulsate 4s infinite 4s;
}

.dot4 {
  animation: pulsate 4s infinite 3s;
}

.dot5 {
  animation: pulsate 4s infinite 2s;
}
