name: main

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build, lint, and test
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'pnpm'
      - run: pnpm install

      # Next.js caching
      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/examples/*/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}

      # Setting up playwright in one example is sufficient
      - run: pnpm --filter example-app-router-playground exec playwright install --with-deps

      - run: pnpm turbo run lint build test size --affected
