name: main
on: [push]
jobs:
  build:
    name: Build, lint, and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: bahmutov/npm-install@v1
      - run: yarn workspace use-intl run build
      - run: yarn workspace next-intl run build
      - run: yarn workspaces run lint
      - run: yarn workspaces run test --ci --maxWorkers=2
