name: release

on:
  push:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"
      - run: npm install -g npm@latest # Trusted publishers
      - run: pnpm install
      - run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - run: pnpm run publish
        if: "${{startsWith(github.event.head_commit.message, 'fix: ') || startsWith(github.event.head_commit.message, 'feat: ') || startsWith(github.event.head_commit.message, 'feat!: ')}}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # No NODE_AUTH_TOKEN since we use Trusted Publishers
